{% extends 'base.html' %}
{% block title %}
 微语
{% endblock %}

{% block body %}
<form action="{{ url_for('add_fmg') }}" method="post" class="layui-form layui-form-pane" style="padding-top: 15px">

    <div class="layui-form-item" pane>
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" id="name" name="name" placeholder="姓名">
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <select name="sex" >
              <option value="男">男</option>
              <option value="女">女</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">生日类型</label>
        <div class="layui-input-block">
            <select name="birth_type" >
              <option value="新历">新历</option>
              <option value="农历">农历</option>
            </select>
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">生日时间</label>
        <div class="layui-input-block">
           <input type="text" class="layui-input" id="birthday" name="birthday" value="{{ date }}" placeholder="生日">
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">电话1</label>
        <div class="layui-input-block">
           <input type="text" class="layui-input" id="phone1" name="phone1" placeholder="电话1">
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">电话2</label>
        <div class="layui-input-block">
           <input type="text" class="layui-input" id="phone2" name="phone2" placeholder="电话2">
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">微信</label>
        <div class="layui-input-block">
           <input type="text" class="layui-input" id="wechat" name="wechat" placeholder="微信">
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">QQ</label>
        <div class="layui-input-block">
           <input type="text" class="layui-input" id="qq" name="qq" placeholder="QQ">
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">喜欢</label>
        <div class="layui-input-block">
            <textarea name="love" width="100%" placeholder="喜欢" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">讨厌</label>
        <div class="layui-input-block">
            <textarea name="halt" width="100%" placeholder="讨厌" class="layui-textarea"></textarea>
        </div>
    </div>
    <div class="layui-form-item" pane>
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
             <textarea name="note" width="100%" placeholder="备注" class="layui-textarea"></textarea>
        </div>
    </div>

  <div class="layui-form-item">
    <div class="layui-input-block" style="text-align: right">
      <button class="layui-btn" type="submit">添加朋友</button>
    </div>
  </div>
</form>

{% endblock %}

{% block js %}
<script>
layui.use(['form','laypage','jquery','laydate'],function () {
    var form = layui.form,
        $ = layui.$,
        laydate = layui.laydate,
        laypage = layui.laypage;

laydate.render({
    elem: '#birthday'
    ,type: 'date'
  });


    });
</script>
{% endblock %}