{% extends 'base.html' %}
{% block title %}
 微语
{% endblock %}

{% block body %}
<form action="{{ url_for('add_fmg') }}" method="post" class="layui-form" style="padding-top: 15px">
<div class="layui-form-item ">
    <div class="layui-inline">
           <input type="text" class="layui-input" id="name" name="name" placeholder="姓名">
    </div>
    <div class="layui-inline">
            <select name="sex" >
              <option value="男">男</option>
              <option value="女">女</option>
            </select>
    </div>
    <div class="layui-inline">
            <select name="birth_type" >
              <option value="新历">新历</option>
              <option value="农历">农历</option>
            </select>
    </div>
    <div class="layui-inline">
           <input type="text" class="layui-input" id="birthday" name="birthday" placeholder="生日">
    </div>
</div>
<div class="layui-form-item ">
    <div class="layui-inline">
           <input type="text" class="layui-input" id="phone1" name="phone1" placeholder="电话1">
    </div>
    <div class="layui-inline">
           <input type="text" class="layui-input" id="phone2" name="phone2" placeholder="电话2">
    </div>
    <div class="layui-inline">
           <input type="text" class="layui-input" id="wechat" name="wechat" placeholder="微信">
    </div>
    <div class="layui-inline">
           <input type="text" class="layui-input" id="qq" name="qq" placeholder="QQ">
    </div>
</div>

  <div class="layui-form-item layui-form-text">
      <textarea name="love" width="100%" placeholder="喜欢" class="layui-textarea"></textarea>
  </div>
  <div class="layui-form-item layui-form-text">
      <textarea name="halt" width="100%" placeholder="讨厌" class="layui-textarea"></textarea>
  </div>
  <div class="layui-form-item layui-form-text">
      <textarea name="note" width="100%" placeholder="备注" class="layui-textarea"></textarea>
  </div>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="layui-form-item"style="color: red">
            {{ message }}
            </div>
        {% endfor %}

  <div class="layui-form-item">
    <div class="layui-input-block" style="text-align: right">
      <button class="layui-btn" type="submit">添加朋友</button>
    </div>
  </div>
</form>

{% endblock %}

{% block js %}
<script>
layui.use(['form','laypage','jquery','laydate'],function () {
    var form = layui.form,
        $ = layui.$,
        laydate = layui.laydate,
        laypage = layui.laypage;

laydate.render({
    elem: '#birthday'
    ,type: 'date'
  });


    });
</script>
{% endblock %}