{% extends 'base.html' %}
{% block title %}
 微语
{% endblock %}

{% block body %}



<table class="layui-table">
  <colgroup>
    <col>
    <col>
    <col>
    <col>
    <col>
    <col>
    <col>
  </colgroup>
  <thead>
    <tr>
      <th>姓名</th>
      <th>生日类别</th>
      <th>生日时间</th>
      <th>电话1</th>
      <th>QQ</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
{% for fmg in fmg %}
    <tr>
      <td>{{ fmg.name }}</td>
      <td>{{ fmg.birth_type }}</td>
      <td>{{ fmg.birthday }}</td>
      <td>{{ fmg.phone1 }}</td>
      <td>{{ fmg.qq }}</td>
      <td>
        <div class="layui-btn-group">
          <button class="layui-btn layui-btn-sm" ><a href="{{ url_for('fmg_more',id=fmg.id) }}">查看</a></button>
          <button class="layui-btn layui-btn-sm"><a  href="{{ url_for('fmg_edit',id=fmg.id) }}">编辑</a></button>
          <button class="layui-btn layui-btn-sm" onclick="del_sure2()" >删除</button>
        </div>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>


{% endblock %}

{% block js %}
<script>
var a ;
layui.use(['form','laypage','jquery','laydate'],function () {
    var form = layui.form,
        $ = layui.jquery;
        a = $("#fid").value;
    });

      function del_sure2(){
        if(confirm("确认删除吗") ==true){
    {% for fmg in fmg %}
            location.href="{{ url_for('fmg_delete',id=fmg.id) }}";
    {% endfor %}
        }else{
            return false;
        }
      }
</script>
{% endblock %}