{% extends 'base-nonav.html' %}
{% block title %}
 修改用户信息
{% endblock %}

{% block body %}

    <form action="{{ url_for('update_info') }}" method="post" class="layui-form">
        <div class="layui-form-item">
            <lable class="layui-form-label">用户昵称:</lable>
            <div class="layui-input-block">
                <input type="text" name="nickname" class="layui-input" value="{{ user.nickname }}">
            </div>
        </div>
        <div class="layui-form-item">
            <lable class="layui-form-label">用户邮箱</lable>
            <div class="layui-input-block">
                <input type="text" name="email" class="layui-input" value="{{ user.email }}">
            </div>
        </div>
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="layui-form-item"style="color: red">
            {{ message }}
            </div>
        {% endfor %}
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-danger">更新信息</button>
            </div>
        </div>
    </form>


{% endblock %}
